<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"></head>


<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>


<div class="container">

    <div class="row">
        <div class="column">
            <img class="picture" alt="image" th:src="@{/img/bar.jpg}"/>
        </div>
        <div class="column">
            <table class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Welcome to our restaurants!</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="restaurant: ${allRestaurants}">
                    <td>
                        <a th:href="@{/admin/restaurants/details/{restaurant_id}(restaurant_id=*{restaurant.id})}" th:text="*{restaurant.name}"></a>
                    </td>
                    <td >
                        <form sec:authorize="isAuthenticated()"
                              th:method="get"
                              th:action="@{/userReservation/{restaurant_id}(restaurant_id=*{restaurant.id})}">
                            <a>
                                <input type="submit" class="btn-outline-secondary" value="Reservation"/>
                            </a>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <p>For a true 'whisky lovers,' our restaurants celebrates the joy of Finest drinks and food in a warm and buzzy
        atmosphere.</p>
</div>
</body>

</html>
