<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}"></head>


<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>


<div class="container-fluid">
    <div class="row">
        <div>
            <img class="picture" alt="image" th:src="@{/img/bar.jpg}"/>
        </div>
        <div class="home">
            <p>For a true 'whisky lovers,' Brothers' bar celebrates the joy of Finest drinks in a warm and buzzy
                atmosphere.</p>
        </div>
    </div>
</div>
</body>

</html>
