<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}"></head>


<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>
<div class="container">
    <h2 class="text-center text-dark">Restaurant details</h2>
    <form
            th:object="${restaurantViewDetails}"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center"
            enctype="multipart/form-data">
        <fieldset disabled="disabled">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="name" class="text-white font-weight-bold">Name</label>
                    <input type="text" class="form-control" id="name"
                           th:field="*{name}"/>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="lon" class="text-white font-weight-bold">Lon</label>
                    <input class="form-control" id="lon"
                           th:field="*{lon}"
                           type="text"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="lat" class="text-white font-weight-bold">Lat</label>
                    <input type="text" class="form-control" id="lat"
                           th:field="*{lat}"/>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="imageUrl" class="text-white font-weight-bold">Image Url</label>
                    <input type="text" class="form-control" id="imageUrl"
                           th:field="*{imgUrl}"/>
                </div>
            </div>
        </fieldset>
    </form>
    <h3 class="text-center text-dark">Position on map</h3>
    <div id="map" class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center"></div>
    <h3 class="text-center text-dark">Primary picture</h3>
    <div class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <img th:src="*{restaurantViewDetails.imgUrl}" alt="broken image">
    </div>
    <div>
        <footer></footer>
    </div>
    <script>
        console.log(document.getElementById("lat").value)
        console.log(document.getElementById("lon").value)
        mapboxgl.accessToken = 'pk.eyJ1IjoiZ29zcG9kaW5vdmdhbGluOTYiLCJhIjoiY2xudXd0enliMGd6MjJpbnM5YnE0dGNnNCJ9.7kxRpuM2zse_V7LEAqGf-A';
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v12', // style URL
            center: [document.getElementById("lon").value, document.getElementById("lat").value], // starting position [lng, lat]
            zoom: 15
        });
        const marker = new mapboxgl.Marker()
            .setLngLat([document.getElementById("lon").value, document.getElementById("lat").value])
            .addTo(map);
    </script>
</div>
</body>
</html>