<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}"></head>
<nav th:replace="~{fragments/navbar}"></nav>

<body>

<div class="container my-2">
    <h2 class="text-center text-dark">All restaurants</h2>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Restaurant</th>
            <th>Is Active</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="restaurant: ${restaurants}">
            <td>
                <a th:href="@{/admin/restaurants/details/{id}(id=*{restaurant.id})}" th:text="*{restaurant.name}"></a>
            </td>
            <td>
                <a th:text="*{restaurant.active}"></a>
            </td>
            <td>
                <a th:href="@{/admin/restaurants/update/{id}(id=*{restaurant.id})}" class="btn btn-outline-primary">Update</a>
            </td>
            <td>
                <form th:method="delete"
                      th:action="@{/admin/restaurants/delete/{id}(id=*{restaurant.id})}">
                    <a>
                        <input type="submit" class="btn-outline-secondary" value="Delete"/>
                    </a>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<div class="container">
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</html>